* {
  box-sizing: border-box;
  min-width: 0;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #052122;
  --secondary-color: #ecd8c6;
  --terciary-color: #377e80;
  --text-primary-color: #0f1211;
  --text-secondary-color: #ecd8c6;
  --text-terciary-color: #f0f7f6;
  --font-size-lx: 24px;
  --font-size-md: 16px;
  --font-size-sm: 12px;
  --font-TitleText: montserrat;
}

body {
  min-height: 100dvh;
  margin: 0;
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
  text-wrap: pretty;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

header img {
  position: absolute;
  width: 70px;
  margin-top: 20px;
}

main {
  height: 90vh;
  display: flex;
}

.principal_text {
  width: 60%;
  height: 95vh;
  text-align: end;
  border-radius: 0%;
}

.principal_text input::placeholder {
  position: absolute;
  top: 0;
  font-size: 1.5rem;
  color: var(--text-terciary-color);
  font-family: var(--font-TitleText);
}

.principal_text input:focus {
  outline: none;
}

.principal_text input {
  color: var(--text-secondary-color);
}

.textarea {
  width: 90%;
  height: 45vh;
  margin-top: 100px;
  font-size: var(--font-size-md);
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 4px;
}

.container_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.container_btn p {
  position: absolute;
  width: 35%;
  text-align: start;
  font-size: var(--font-size-sm);
  font-family: var(--font-TitleText);
  color: var(--text-terciary-color);
}

.container_btn p img {
  margin-right: 5px;
}

.container_btn button {
  width: 30%;
  height: 7vh;
  margin-top: 50px;
  margin-left: 10px;
  border-radius: 15px;
  border: solid 0px;
  font-family: var(--font-TitleText);
  color: var(--text-terciary-color);
  background-color: var(--terciary-color);
  cursor: pointer;
  box-shadow: 5px 5px 20px 1px var(--text-primary-color);
}

.container_btn button:hover {
  background-color: var(--secondary-color);
  color: var(--text-primary-color);
}

.result_text {
  width: 40%;
  height: 90vh;
}

.result_container {
  width: 60%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-left: 100px;
  font-family: var(--font-TitleText);
  background-color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 5px 5px 20px 1px var(--text-primary-color);
}

.result_container img {
  width: 70%;
  margin-left: 40px;
}

.result_container h4 {
  width: 85%;
  text-align: center;
  margin-left: 25px;
}

textarea {
  width: 100%;
  height: 25vh;
  padding: 10px;
  margin-top: 35px;
  text-wrap: balance;
  text-align: center;
  color: var(--text-primary-color);
  font-size: var(--font-size-md);
  font-family: var(--font-TitleText);
  background-color: var(--secondary-color);
  cursor: default;
  scrollbar-width: none;
  border: #ecd8c6;
  resize: none;
  outline: none;
}

.container_copybtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copyBtn {
  width: 80%;
  height: 8vh;

  border-radius: 10px;
  border: none;
  background-color: var(--terciary-color);
  color: var(--text-terciary-color);
  font-size: var(--font-size-md);
  cursor: pointer;
}

.copyBtn:hover {
  background-color: var(--primary-color);
}

.alert {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
  color: var(--text-terciary-color);
  font-size: var(--font-size-sm);
  font-family: var(--font-TitleText);
  background-color: #239b56;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 1px var(--primary-color);
}

.alert.show {
  display: flex;
  animation: fadeIn 0.5s forwards; /* Aplicar fade in */
}

.alert.hide {
  animation: fadeOut 0.5s forwards; /* Aplicar fade out */
}

.alert img {
  width: 30px;
  height: 25px;
  margin-right: 5px;
  margin-left: 5px;
  opacity: 0.5;
  border-radius: 50px;
}

footer {
  height: 4vh;
  margin-top: 35px;
  font-size: var(--font-size-sm);
  font-family: var(--font-TitleText);
  text-align: center;
  color: var(--text-terciary-color);
}

/* Tablet */
@media (max-width: 768px) {
  main {
    display: inline-block;
    width: 100%;
    height: 50vh;
  }

  .principal_text {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 0%;
  }

  .principal_text input::placeholder {
    width: 100%;
    font-size: var(--font-size-lx);
    text-align: start;
  }

  .textarea {
    width: 80%;
    height: 80px;
    margin-left: 40px;
  }

  .container_btn button {
    margin-left: 5px;
    margin-right: 5px;
    width: 45%;
    height: 40px;
  }

  .container_btn p {
    width: 88%;
  }

  .result_text {
    width: 100%;
    height: 35vh;
    display: flex;
  }

  .result_container {
    margin-left: 13px;
    width: 95%;
    height: 35vh;
  }

  .result_container img {
    display: none;
  }

  .copyBtn {
    width: 30%;
    height: 6vh;
  }

  footer {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: end;
  }
}
/*MOBILE*/
@media (max-width: 483px) {
  .principal_text {
    height: 57vh;
  }

  .principal_text input::placeholder {
    text-wrap: wrap;
    text-align: start;
    width: 100%;
  }

  .container_btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .container_btn button {
    margin-top: 20px;
    width: 90%;
  }

  .container_btn p {
    position: inherit;
    margin-left: 15px;
  }

  .result_container {
    margin-top: 0px;
  }

  .result_container .mensaje {
    height: 50px;
    margin-top: 0px;
  }

  .copyBtn {
    width: 50%;
  }

  footer {
    height: 30vh;
  }
}
