* {
  box-sizing: border-box;
  min-width: 0;
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

h1,
h2,
h3,
h4 {
  text-wrap: pretty;
}

:root {
  --BackgroundBlue: #001754;
  --Blue1: #024873;
  --Blue2: #022840;
  --Blue3: #0a8cbf;
  --Blue4: #88dff2;
  --Black: #0a0c0d;
  --textWhite-color: #d7d7d7;
  --textGold-color: #c59400;
  --font-size-lx: 36px;
  --font-size-md: 24px;
  --font-size-sm: 20px;
  --font-size-xsm: 16px;
  --font-TitleText: montserrat;
}

@keyframes animationRings {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(0, 0);
    opacity: 0.3;
  }
}
.container_btn_encrypt,
.container_btn_decrypt,
#textAreaEntry,
#textareaOutput,
.container_button {
  position: relative;
  z-index: 10;
}
/*Background Animation*/

.ring {
  position: absolute;
  border: 0.2vw solid var(--textGold-color);
  border-radius: 50%;
  opacity: 1;
  animation: animationRings infinite ease-in-out;
  z-index: 1;
}

.ring1 {
  width: 15vw;
  height: 15vw;
  top: 40%;
  left: 10%;
  animation-duration: 12s;
}

.ring2 {
  width: 25vw;
  height: 25vw;
  top: 60%;
  left: 20%;
  animation-duration: 6s;
}

.ring3 {
  width: 30vw;
  height: 30vw;
  top: 50%;
  left: 5%;
  animation-duration: 15s;
}

.ring4 {
  width: 30vw;
  height: 30vw;
  top: 7%;
  left: 60%;
  animation-duration: 10s;
}

.ring5 {
  width: 20vw;
  height: 20vw;
  top: 30%;
  left: 70%;
  animation-duration: 13s;
}
header {
  width: 100%;
  height: 10vh;
  background-color: var(--Blue2);
}

header h1 {
  margin-top: 0px;
  padding-top: 14px;
  text-align: center;
  font-size: var(--font-size-lx);
  color: var(--textGold-color);
}

.bgColor {
  width: 100%;
  height: 75vh;
  gap: 10%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--Blue2);
}

.principal_container {
  position: absolute;
  top: 7rem;

  width: 40%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.container_btn_encrypt {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  border-radius: 60px;

  color: var(--textWhite-color);
  background-color: var(--textGold-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container_btn_encrypt img {
  width: 50px;
  height: 50px;
}

.container_btn_encrypt h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container_btn_encrypt:hover {
  transition: background-color 0.3s ease, transform 0.3s ease-out,
    font-size 0.3s ease;
  font-size: var(--font-size-sm);
  transform: scale(1.2);
  color: var(--textGold-color);
  background-color: var(--textWhite-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.container_btn_decrypt {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 7rem;
  height: 7rem;
  border-radius: 60px;
  text-align: center;
  color: var(--textWhite-color);
  background-color: var(--textGold-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container_btn_decrypt img {
  width: 50px;
  height: 50px;
}
.container_btn_decrypt h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container_btn_decrypt:hover {
  transform: scale(1.2);
  background-color: var(--textWhite-color);
  font-size: var(--font-size-sm);
  color: var(--textGold-color);
  transition: background-color 0.3s ease, transform 0.3s ease-out,
    font-size 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.text_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#textAreaEntry {
  width: 100%;
  height: 30vh;
  margin-bottom: 14px;

  text-align: center;
  align-content: center;

  resize: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 20px;
  text-transform: lowercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  font-size: var(--font-size-sm);
}

#textareaOutput {
  width: 100%;
  height: 30vh;

  text-align: center;
  align-content: center;

  resize: none;
  outline: none;
  cursor: default;
  box-sizing: border-box;
  border-radius: 20px;
  text-transform: lowercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  font-size: var(--font-size-sm);
  margin-bottom: 8px;
  transition: opacity 0.15s ease-in-out;
}

textarea::selection {
  background: transparent;
}

.confirm_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 60%;
  left: 0%;

  color: var(--textGold-color);
  font-size: var(--font-size-sm);
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.confirm_container.show {
  display: flex;
  opacity: 1;
}

.confirm_container img {
  width: 50px;
  height: 50px;
}

.container_button {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container_button button {
  width: 25%;
  height: 7vh;

  border-radius: 20px;
  border: none;
  color: var(--textGold-color);
  font-size: var(--font-size-sm);
  font-family: var(--font-TitleText);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.container_button button:hover {
  transform: scale(1.1);
  background-color: var(--textGold-color);
  color: var(--textWhite-color);
  transition: background-color 0.3s ease, transform 0.3s ease-out,
    font-size 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

footer {
  width: 100%;
  height: 20vh;
  background-color: var(--Blue2);
  color: var(--textGold-color);
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  width: 100%;
  height: 7vh;

  align-content: end;

  margin: 16px 0px 0px 0px;
}

.social-links {
  margin: 12px 0px 0px 0px;
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.social-links a {
  text-decoration: none;
  color: var(--textGold-color);
  font-size: var(--font-size-xsm);
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-links a:hover {
  color: var(--Blue4);
}

/*Mobile view*/
@media (max-width: 600px) {
  .principal_container {
    display: grid;
  }

  .container_button {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-evenly;
  }

  .container_button button {
    width: 45%;
    height: 6vh;
  }

  #textAreaEntry {
    height: 25vh;
  }

  #textareaOutput {
    height: 25vh;
  }

  .container_btn_encrypt {
    margin-right: 16rem;
  }

  .confirm_container {
    top: 50%;
    left: 30%;
  }

  .principal_container {
    top: 8rem;

    width: 80%;
    height: auto;
  }

  .container_btn_encrypt {
    position: absolute;
    top: 12%;
    left: 10%;
    width: 6rem;
    height: 6rem;
  }

  .container_btn_decrypt {
    position: absolute;
    bottom: 36%;
    right: 5%;

    width: 6rem;
    height: 6rem;
  }

  #textAreaEntry {
    border-radius: 50% 0px 50% 0px;
  }

  #textareaOutput {
    border-radius: 50% 0px 50% 0px;
  }

  .container_button {
    width: 100%;
    height: 40%;

    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container_button button {
    width: 100%;
    margin-bottom: 10px;
  }

  .container_btn_decrypt:hover {
    transform: scale(1.2);
    font-size: var(--font-size-xsm);
  }

  .container_btn_encrypt:hover {
    transform: scale(1.2);
    font-size: var(--font-size-xsm);
  }

  .confirm_container {
    top: 40%;
    left: 0%;
  }

  .confirm_container img {
    width: 100px;
    height: 100px;
  }

  .confirm_container P {
    display: none;
  }

  footer p {
    width: 100%;
    height: 2vh;

    align-content: end;

    margin: 0px 0px 0px 0px;
  }
}
